@charset "utf-8";

p{
    color: #000000;
}

h1 {
    border-bottom:dashed 2px #6594e0 ;
}

h2 {
    text-shadow: 1px 2px 2px #000000;
    background-image:linear-gradient(to left,rgba(255,255,255,0.1),rgba(255,255,255,0.3)), url(newtop.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}  

h3 {
    padding:0.5em;
    color:#010101;
    background: #eaf3ff;
    border-bottom: solid 3px #516ab6;
    border-right: solid 3px #516ab6;
}

body {
    background-color: #d3d3d3;
    background-image: url(haikei6.jpg);
    background-repeat: repeat;
    background-size: 200px;
    height: 100px;
}

h4 {
    font-family: 游明朝;
    font-size: 20px;
}

#footer {
    position: absolute;
    top:2000px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    display: inline;
}

#undermenu li{
    display: inline-block;
}
